.App {
  width: 100%;
  min-height: 100vh;
}

.App-header {
  background-color: #14161a;
  color: white;
}

.Select-files {
  width: 100%;
}

.BDFView {
  background-color: #101010;

  width: 100%;
  min-height: calc(100vh - 1.65rem);
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  color: white;
}
