.App {
  width: 100%;
  min-height: 100vh;
  background-color: #101010;

  overflow: hidden;
}

.App-header {
  background-color: #14161a;
  color: white;
}

.Select-files {
  width: 100%;
}

.BDFView {
  position: absolute;

  left: 0;
  right: 0;
  top: 2rem;
  bottom: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.Left-pane {
	width: 350px;
  overflow: auto;
}
