.BDFHeader {
	width: 100%;
	overflow: auto;
}

.Version {
	background-color: white;
	color: black;
	text-align: center;
}

.Propertie-header {
	margin: 1rem auto;
	text-align: center;
	font-size: 1.25rem;
}